.box {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 23%;
  margin: 1%;
  border-radius: 10%;
  transition: all 150ms linear;
  background-color: white;
  z-index: 1000;
  color: white
}

.red {
  opacity: 0.5;
  z-index: 999;
}

.box:empty {
  background-color: #eee4da59;
}
 
.text {
  font-size: 7vw;
}

.expanded {
  transform: scale(1.1);
}

.tile2 {
  background: #eee4da;
  color: #776e65
}

.tile4 {
  background: #eee1c9;
  color: #776e65
}

.tile8 {
  background: #f3b27a;
}

.tile16 {
  background: #f69664;
}

.tile32 {
  background: #f77c5f
}

.tile64 {
  background: #f75f3b
}

.tile128 {
  background: #edd073
}

.tile256 {
  background: #edcc62
}

.tile512{
  background: #edc950
}

.tile1024 {
  background: #edc950
}

.tile2048 {
  background: #edc950
}

.tile4096 {
  background: #edc950
}